/* Logo color: IRIS #4D5AE5 and NAVY BLUE #2E2F42 */
/* main color: NAVY BLUE #2E2F42 */
/* 2d color: SLATE #434455 */
/* title color: #FFFFFF */
/* footer color: CORNFLOWER #E7E9FC */

ul {
    list-style: none
}

:root {
    --primary-text-color: #434455;
    --main-titles-color: #2E2F42;
    --active-link-color: #4D5AE5;
    --primary-background-color: #2E2F42;
    --primary-white-color: #FFFFFF;
    --another-background-color: #F4F4FD;
    --background-buttons-color:#404BBF;
    --border-bottom-color: #E7E9FC;
    --box-shadow-color: rgba(0, 0, 0, 0.15);

}

/* for body edition*/
.page-1 {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--primary-text-color);
    background: var(--primary-white-color);
}

/*for top*/

.top {
    border-bottom: 1px solid var(--border-bottom-color);
    background: var(--primary-white-color)
}

.logo-web {
    color: var(--active-link-color);
}

.logo-studio {
    color: var(--main-titles-color)
}

.top-logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.top-logo:hover,
.top-logo:focus {
    color: var(--main-titles-color);

}

.top-link:hover,
.top-link:focus {
    color: var(--active-link-color);
}

.top-link {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--main-titles-color);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.top-link-current:hover,
.top-link-current:focus {
    color: var(--active-link-color);
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.top-link-current {
    color: var(--active-link-color);
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.address1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    
}

/* for section 1 */

.section1 {
    background: var(--primary-background-color);
}

.section1 .main-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    color: var(--primary-white-color);

}

.section1 .main-button {
    background: var(--active-link-color);
    box-shadow: 0px 4px 4px var(--box-shadow-color);
    border-radius: 4px;
    color: var(--primary-white-color);
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background: var(--background-buttons-color);
}

.section1-portfolio .next-button {
    background: var(--another-background-color);
    border: 1px solid var(--border-bottom-color);
    border-radius: 4px;
    color: var(--active-link-color);
    cursor: pointer;
}

.next-button:hover,
.next-button:focus {
    background: var(--background-buttons-color);
    color: var(--primary-white-color);
    font-family: 'Roboto';
    font-style: normal;
}

/*for section 2*/

.title-section2{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.title3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-titles-color);

}

/*for other*/

.title2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    color: var(--main-titles-color);
}

.section4 {
    background: var(--another-background-color);
}

/*for footer*/
.bottom {
    background: var(--primary-background-color);
}

.bottom-text {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--border-bottom-color);
}

.bottom .logo-studio {
    color: var(--another-background-color);
}